* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --mainColor: rgb(0, 59, 160);
}

body {
  background: linear-gradient(to right, rgb(0, 200, 255), rgb(225, 0, 255));
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
}

.text {
  margin-bottom: 25px;
  color: #fff;
}

.text span {
  color: rgb(81, 255, 28);
}

.calculator,
.input,
.btn {
  display: grid;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
}

.calculator {
  width: 570px;
  padding: 30px 0;
  margin: 0 auto;
  grid-template-columns: repeat(4, 120px);
  grid-auto-rows: 90px;
  grid-gap: 10px;

  background: transparent;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.347);
}

.input {
  border: 2px solid var(--mainColor);
  background-color: #fff;
  grid-column: 1/5;
}

.btn {
  border: 1px solid #000;
  background-color: var(--mainColor);
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

.equal {
  grid-column: 4/5;
  grid-row: 5/7;
}

.zero {
  grid-column: 2/4;
}

.input {
  justify-content: flex-end;
  padding: 0 10px;
  overflow: hidden;
}

.show__text {
  display: flex;
}

.line {
  width: 3px;
  height: 35px;
  background-color: var(--mainColor);
  animation: line 1s linear infinite;
}

@keyframes line {
  100% {
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: 1s linear;
  }
}

@media (max-width:1200px) {
  .container{
    width: 100%;
    padding: 20px;
  }

  .calculator {
    width: 350px;
    grid-template-columns: repeat(4, 70px);
    grid-auto-rows: 70px;
    grid-gap: 10px;
  }
  
  .btn {
    font-size: 25px;
  }
}